[2018-08-30 18:32] carlisia opened #2 "I need intro file"
Need an intro file for `carlisia`.

/sig contributor-experience
/kind documentation

[2018-08-30 18:33] matthewbrahms opened #3 "Needs an introductory file for matthewbrahms"
May I have an introductory file, please?

[2018-08-30 18:33] evillgenius75 opened #4 "Need introductory file for evillgenius75"
Need an introduction file for evillgenius75 user to know who the new contributor is

[2018-08-30 18:41] jberkus opened #5 "We need to demonstrate dome labels"
Here I am, adding labels

/sig contributor-experience
/kind documentation

[2018-08-30 18:42] evillgenius75 commented on #4
adding labels

/sig contributor-experience
/kind documentation

[2018-08-30 18:42] matthewbrahms commented on #3
/sig contributor-experience
/kind documentation

[2018-08-30 18:45] TheGhostHuCodes opened #6 "Create an intro file for TheGhostHuCodes"
/sig contributor-experience
/kind documentation

[2018-08-30 18:45] guineveresaenger commented on #5
/lgtm

[2018-08-30 18:46] guineveresaenger commented on #5
but I doubt lgtm is enabled on Issues

[2018-08-30 18:46] rldutka opened #7 "Create a new intro file for rldutka"
Hello, may I please have introductory file?

/sig contributor-experience
/kind documentation

[2018-08-30 18:46] matthewbrahms commented on #4
lgtm

[2018-08-30 18:46] evillgenius75 commented on #3
/lgtm

[2018-08-30 18:46] guineveresaenger commented on #5
/assign @jberkus

[2018-08-30 18:46] TheGhostHuCodes commented on #2
LGTM!

[2018-08-30 18:46] carlisia commented on #3
/lgtm

[2018-08-30 18:47] carlisia commented on #4
/lgtm

[2018-08-30 18:47] carlisia commented on #5
/lgtm

[2018-08-30 18:47] rldutka commented on #6
/lgtm

[2018-08-30 18:47] carlisia commented on #6
/lgtm

[2018-08-30 18:47] guineveresaenger commented on #5
/area contributor-guide

[2018-08-30 18:47] carlisia commented on #7
/lgtm

[2018-08-30 19:16] #2 closed

[2018-08-30 19:19] evillgenius75 commented on #4
Issues is fixed by Pull Request #10

[2018-08-30 19:19] #4 closed

[2018-08-30 19:26] matthewbrahms commented on #3
/close

[2018-08-30 19:26] #3 closed

[2018-10-25 01:39] #5 closed

[2018-10-25 01:39] #6 closed

[2018-10-25 01:39] #7 closed

[2018-11-13 05:29] mdianjun opened #22 "This is an issue exercise"
/kind bug

[2018-11-13 05:30] mdianjun commented on #22
sig/scheduling

[2018-11-13 05:30] mdianjun commented on #22
king/bug

[2018-11-13 05:30] jberkus opened #23 "Josh needs an introduction in the Shanghai folder"
Josh Berkus needs an introduction file for himself in /shanghai

/sig contributor-experience
/kind documention
/priority important-soon

[2018-11-13 05:30] tomeyday opened #24 "Tomeyday's first issue test"
My first issue test

/kind documentation
/sig contributor-experience

[2018-11-13 05:31] mdianjun commented on #22
/sig contributor-experience

[2018-11-13 05:32] mdianjun commented on #22
/kind feature

[2018-11-13 05:32] krzyzacy commented on #23
/meowvie space

[2018-11-13 05:32] tomeyday commented on #24
Comments by myself (tomeyday)

[2018-11-13 05:33] jberkus commented on #23
/woof

[2018-11-13 05:33] markselby9 commented on #22
/woof

[2018-11-13 05:33] tpepper commented on #23
see https://prow.k8s.io/command-help for more commands

[2018-11-13 05:33] vjdhama opened #25 "Is this bot serverless?"
/sig contributor-experience
/kind documentation

[2018-11-13 05:34] krzyzacy commented on #23
/this-is-unbearable

[2018-11-13 05:34] AkihiroSuda opened #26 "workshop issue"
/kind documentation
/sig contributor-experience

[2018-11-13 05:34] m13m commented on #23
/joke

[2018-11-13 05:34] tomeyday commented on #23
/joke

[2018-11-13 05:35] godliness opened #27 "This is a really emergency issue!!!"
/kind bug
/sig contributor-experience
/sig scheduling
/sig node
/sig release
/area example

/cc @k8s-ci-robot

[2018-11-13 05:35] ewtang opened #28 "My new issue"
This is an exercise to raise an issue.

[2018-11-13 05:35] jerry0715 opened #29 "hello k8s"
/kind documentation
/sig contributor-experience

[2018-11-13 05:35] girikuncoro commented on #25
/kind cluster-api

[2018-11-13 05:35] yylin1 opened #30 "Workshop issue in the Shanghai"
/sig contributor-experience
/kind documentation
/priority important-soon

[2018-11-13 05:35] m13m commented on #23
/shrug

[2018-11-13 05:35] Yiwei-Chen-Bose commented on #23
/this-is-fine

[2018-11-13 05:35] AkihiroSuda commented on #26
/joke

[2018-11-13 05:35] tpepper commented on #26
Welcome to the New Contributor Workshop!!

[2018-11-13 05:35] congfairy opened #31 "new issue test"
try how to submit the issue

[2018-11-13 05:35] quietcoolwu opened #32 "Exercise for raising a issue at kubecon"
What happened:
Exercise for raising a issue to kubernetes

What you expected to happen:
Nothing

/kind documentation
/sig contributor-experience

[2018-11-13 05:36] niyue opened #33 "Issue created from KubeConf Shanghai by Samuel and David"

[2018-11-13 05:36] niyue commented on #33
/sig apps

[2018-11-13 05:36] chenleji opened #34 "ljchen's first issue test"
issue description ....

/sig contributor-experience
/kind documentation
/priority important-soon

[2018-11-13 05:36] smourapina opened #35 "New issue for testing stuff"
Details for the new issue.

/sig contributor-experience
/kind documention
/priority low

[2018-11-13 05:36] mdianjun commented on #22
/woof

[2018-11-13 05:36] niyue commented on #33
/kind bug

[2018-11-13 05:36] AkihiroSuda commented on #26
/meow

[2018-11-13 05:36] qbl opened #36 "Just creating an issue"
Just creating an issue

/sig contributor-experience

[2018-11-13 05:36] hzgu-ibm commented on #29
/smile

[2018-11-13 05:36] shabicheng opened #37 "kubernetes is cool"
/kind documentation
/sig contributor-experience

Hi, I am david zhang, nice to meet you.

[2018-11-13 05:36] AkihiroSuda commented on #26
/check-cla

[2018-11-13 05:36] girikuncoro commented on #25
/kind failing-test

[2018-11-13 05:36] vjdhama commented on #25
/assign @girikuncoro

[2018-11-13 05:36] #31 closed

[2018-11-13 05:36] npoirier opened #38 "Add a funny contribution joke to the playground"
/sig contributor-experience
/kind documentation
/priority important-soon

[2018-11-13 05:36] niyue commented on #33
/kind documentation

[2018-11-13 05:36] cscmucmm opened #39 "Hello New Contributor Summit Workshop"
/kind documentation
/sig contributor-experience

[2018-11-13 05:37] fionait opened #40 "workshop issue test"
issue test fiona

[2018-11-13 05:37] jeanpbond commented on #38
/this-is-unbearable

[2018-11-13 05:37] tomeyday commented on #24
/shrug

[2018-11-13 05:37] Vaibhavpbits opened #41 "Add guideline to label issue"
Add guideline to label issue.

/kind documentation

[2018-11-13 05:37] jeanpbond commented on #38
/joke

[2018-11-13 05:37] smourapina commented on #35
/assign @xiangpengzhao

[2018-11-13 05:37] volume-ji opened #42 "This is a issue test"
this is a issue test for volume-ji

/sig contributor-experience
/kind documentation
/priority important-soon

[2018-11-13 05:37] girikuncoro commented on #25
/priority backlog

[2018-11-13 05:38] mdianjun commented on #27
Yes, you are right!

[2018-11-13 05:38] ewtang commented on #28
/kind documentation
/sig contributor-experience

[2018-11-13 05:38] niyue commented on #33
/sig contributor-experience

[2018-11-13 05:38] hzgu-ibm commented on #29
/joke

[2018-11-13 05:38] ms4720 commented on #38
/woof

[2018-11-13 05:38] Vaibhavpbits commented on #41
/sig contributor-experience

[2018-11-13 05:38] XSAM commented on #23
/meow

[2018-11-13 05:38] npoirier commented on #38
/joke

[2018-11-13 05:38] tdihp opened #43 "Starve the bacteria in the kitchen"
The new found bacteria is releasing unexpected gas with unpleasant but soothing smell.

[2018-11-13 05:39] volume-ji commented on #42
/woof

[2018-11-13 05:39] jeanpbond commented on #43
/this-is-fine

[2018-11-13 05:39] girikuncoro commented on #25
/joke

[2018-11-13 05:39] smourapina commented on #35
/meow

[2018-11-13 05:39] yylin1 commented on #30
/shrug

[2018-11-13 05:39] girikuncoro commented on #25
/shrug

[2018-11-13 05:39] markselby9 commented on #32
/meowvie ronaldo

[2018-11-13 05:39] npoirier commented on #43
/shrug

[2018-11-13 05:39] volume-ji commented on #42
/cat

[2018-11-13 05:39] dwmkerr commented on #33
OK @niyue just checking you have signed the CLA

[2018-11-13 05:39] ms4720 commented on #38
/shrug

[2018-11-13 05:39] smourapina commented on #35
/shrug

[2018-11-13 05:39] markselby9 commented on #32
/meowvie cat

[2018-11-13 05:39] dwmkerr commented on #33
/check-cla

[2018-11-13 05:39] volume-ji commented on #42
/woof

[2018-11-13 05:40] godliness commented on #27
/woof

[2018-11-13 05:40] yiwei-C opened #44 "New Issue Test"
/sig contributor-experience
/area node
/kind bug

[2018-11-13 05:40] girikuncoro commented on #36
not important

/close

[2018-11-13 05:40] tdihp commented on #43
/sig contributor-experience

[2018-11-13 05:40] mason1kwok commented on #30
/joke

[2018-11-13 05:40] markselby9 commented on #32
/meowvie kittens

[2018-11-13 05:40] dwmkerr commented on #33
In the meantime I will take this on /assign @qbl

[2018-11-13 05:40] jpuyy opened #45 "launch outside"
orange
water
bread

/sig contributor-experience
/kind documentation
/skip

[2018-11-13 05:40] smourapina commented on #35
/check-cla

[2018-11-13 05:40] markselby9 commented on #32
/balabala

[2018-11-13 05:40] npoirier commented on #43
/porn

[2018-11-13 05:41] chenleji commented on #34
/joke

[2018-11-13 05:41] tpepper commented on #39
Welcome!!

[2018-11-13 05:41] cscmucmm commented on #26
/priority important-soon

[2018-11-13 05:41] tdihp commented on #42
/joke

[2018-11-13 05:41] girikuncoro commented on #36
/check-cla

[2018-11-13 05:41] dwmkerr commented on #33
/joke

[2018-11-13 05:41] niyue commented on #33
/shrug

[2018-11-13 05:41] mdianjun commented on #22
@flaper87

[2018-11-13 05:41] markselby9 commented on #32
/shrug

[2018-11-13 05:41] markselby9 commented on #32
/joke

[2018-11-13 05:41] dwmkerr commented on #33
/assign @qbl

[2018-11-13 05:41] bkubany commented on #35
/lgtm

[2018-11-13 05:42] qbl commented on #33
/meow

[2018-11-13 05:42] mason1kwok opened #46 "Hello, guys!"
Have a good day!

/sig contributor-experience
/kind documentation
/priority important-soon

[2018-11-13 05:42] niyue commented on #33
/woof

[2018-11-13 05:42] tpepper commented on #37
We think it's cool too!  WELCOME!

[2018-11-13 05:42] m13m opened #47 "K8s ping"
/meow ping

[2018-11-13 05:42] yylin1 commented on #30
/assign @mason1kwok

[2018-11-13 05:42] Vaibhavpbits commented on #41
/label

[2018-11-13 05:42] congfairy opened #48 "new issue test1"
test how to add a sig
/sig/contributor-experience

[2018-11-13 05:42] vjdhama commented on #25
/check-cla

[2018-11-13 05:42] tdihp commented on #43
/kind documentation

[2018-11-13 05:42] #48 closed

[2018-11-13 05:42] npoirier commented on #38
/assign jeanpbond

[2018-11-13 05:43] indigophillips opened #49 "I have many issues"

[2018-11-13 05:43] jetmuffin opened #50 "Cool robot :joy:"
/kind documentation
/sig contributor-experience

[2018-11-13 05:43] yylin1 commented on #45
/shrug

[2018-11-13 05:43] godliness commented on #27
/lint

[2018-11-13 05:43] m13m commented on #47
/sig testing

[2018-11-13 05:43] dwmkerr commented on #33
Seems like this issue has too many cats, will hold for now

[2018-11-13 05:43] dwmkerr commented on #33
/hold

[2018-11-13 05:43] jetmuffin commented on #50
/shrug

[2018-11-13 05:43] tpepper commented on #45
Yum.

[2018-11-13 05:43] smourapina commented on #35
/joke

[2018-11-13 05:43] godliness commented on #27
/meow

[2018-11-13 05:43] m13m commented on #47
/joke

[2018-11-13 05:43] Yiwei-Chen-Bose commented on #44
/priority important-soon

[2018-11-13 05:43] Vaibhavpbits commented on #41
/priority important-soon

[2018-11-13 05:43] tpepper commented on #46
Ni hao!

[2018-11-13 05:44] niyue commented on #33
/assign @qbl

[2018-11-13 05:44] mdianjun commented on #45
/meow

[2018-11-13 05:44] jetmuffin commented on #50
/cc @jetmuffin

[2018-11-13 05:44] m13m commented on #47
/assign @m13m

[2018-11-13 05:44] liyongcool opened #51 "kubecon 2018 issue test"
this is a issue test

[2018-11-13 05:44] godliness commented on #27
/test all

[2018-11-13 05:45] m13m commented on #47
/woof

[2018-11-13 05:45] girikuncoro commented on #36
/meow

[2018-11-13 05:45] cscmucmm commented on #39
Thanks!!

[2018-11-13 05:46] tdihp commented on #43
And there's an actual cmd for shrug XD

[2018-11-13 05:46] godliness commented on #27
¯\_(ツ)_/¯

[2018-11-13 05:46] mdianjun commented on #22
@markselby9   How to remove a label?

[2018-11-13 05:47] congfairy opened #52 "new issue test 2"
test how to add a sig
/sig contributor-experience
/kind bug

[2018-11-13 05:47] jiaj12 opened #53 "this is a title"
/label documentation

[2018-11-13 05:47] markselby9 commented on #22
/remove-label kind/bug

[2018-11-13 05:47] jberkus commented on #49
do it like this:

/sig contributor-experience

[2018-11-13 05:47] markselby9 commented on #22
/remove-label bug

[2018-11-13 05:48] markselby9 commented on #22
@mdianjun I'm trying the commands from: https://prow.k8s.io/command-help

[2018-11-13 05:48] hzgu-ibm commented on #29
- /meow
/bark

[2018-11-13 05:48] jiaj12 commented on #53
/sig apps

[2018-11-13 05:48] yylin1 commented on #51
/sig contributor-experience
/kind documentation
/priority important-soon

[2018-11-13 05:48] fionait commented on #40
Add guideline to label issue.
/kind documentation

[2018-11-13 05:48] tomeyday commented on #49
Thanks:-)

/sig contributor-experience

[2018-11-13 05:48] jiaj12 commented on #53
/sig contributors

[2018-11-13 05:49] fionait commented on #40
/sig contributor-experience

[2018-11-13 05:49] fionait commented on #40
/priority important-soon

[2018-11-13 05:49] jiaj12 commented on #53
/sig contributor-experience

[2018-11-13 05:49] indigophillips opened #54 "indilovesissues"
/sig contributor-experience

[2018-11-13 05:50] tomeyday commented on #47
/kind feature

[2018-11-13 05:51] mason1kwok commented on #46
Nice to meet you!
/woof

[2018-11-13 05:53] tpepper commented on #53
I'm sorry, I explained wrong.  The Prow /commands (see https://prow.k8s.io/command-help) set appropriate labels.

In this case "/sig docs".

[2018-11-13 05:53] vjdhama commented on #33
/good-first-issue

[2018-11-13 05:54] tpepper commented on #53
So it is more structured instead of allowing an arbitrary "/label some_string".   There is more details of what are valid labels hidden inside https://github.com/kubernetes/test-infra/blob/master/label_sync/labels.yaml

[2018-11-13 05:56] tpepper commented on #53
The common ones you are likely to use are "kind", "sig", and "area".

[2018-11-13 06:02] vjdhama commented on #33
/ok-to-test

[2018-11-13 06:04] girikuncoro opened #62 "Playground issue for table in the center"
Lorem ipsum foo bar

/kind documentation

[2018-11-13 06:04] npoirier commented on #38
https://github.com/npoirier/contributor-playground/pull/1

[2018-11-13 06:04] girikuncoro commented on #62
/sig contributor-experience

[2018-11-13 06:07] ms4720 commented on #38
/lgtm

[2018-11-13 06:26] liyongcool opened #91 "new issue test of liyong"
@kubernetes/sig-contributor-experience new issue test of liyong

[2018-11-13 06:47] liyongcool opened #93 "issue test"
@kubernetes/sig-contributor-experience
my issue test

[2018-11-14 21:48] gamefiend opened #94 "@guineveresaenger is testing something"
and I am helping.

[2018-11-14 21:49] gamefiend commented on #94
/sig contributor-experience

[2018-11-14 21:54] guineveresaenger commented on #94
kind/bug

[2018-11-14 21:54] guineveresaenger commented on #94
/kind bug

[2018-11-14 21:55] guineveresaenger commented on #94
/kind cleanup
/area contributor-guide
/cc @guineveresaenger

[2018-11-14 21:56] guineveresaenger commented on #94
/assign @guineveresaenger

[2018-11-15 06:50] cofyc opened #98 "issue test only"
/hold

This is a demo.

[2018-11-15 06:50] cofyc commented on #98
/sig contributor-experience

[2018-11-19 01:18] #27 closed

[2018-11-19 07:50] xiangpengzhao commented on #35
:100:

[2018-11-20 07:37] cofyc commented on #98
/kind documentation

[2018-11-20 07:37] cofyc commented on #98
/close

[2018-11-20 07:37] #98 closed

[2018-11-20 07:42] zyseeker opened #100 "zy test"
test

[2018-11-21 02:36] wzjgo opened #102 "my test"
test

[2018-11-21 02:37] wzjgo commented on #102
// sig-ui

[2018-11-21 02:38] wzjgo commented on #102
/sig contributor-experience

[2018-11-21 02:38] wzjgo commented on #102
/assign wzjgo

[2018-12-03 20:40] guineveresaenger commented on #94
Closing this for cleanup purposes

[2018-12-03 20:40] guineveresaenger commented on #94
/close

[2018-12-03 20:40] #94 closed

[2018-12-03 20:40] guineveresaenger commented on #93
Closing this for cleanup purposes
/close

[2018-12-03 20:40] #93 closed

[2018-12-03 20:41] guineveresaenger commented on #91
Closing this for cleanup purposes
/close

[2018-12-03 20:41] #91 closed

[2018-12-03 20:41] guineveresaenger commented on #62
Closing this for cleanup purposes
/close

[2018-12-03 20:41] #62 closed

[2018-12-03 20:42] guineveresaenger commented on #54
Closing this for cleanup purposes
Hi Indi! 👋
/close

[2018-12-03 20:42] #54 closed

[2018-12-03 20:42] guineveresaenger commented on #53
Closing this for cleanup purposes
/close

[2018-12-03 20:42] #53 closed

[2018-12-03 20:42] guineveresaenger commented on #52
Closing this for cleanup purposes
/close

[2018-12-03 20:42] #52 closed

[2018-12-03 20:43] guineveresaenger commented on #51
Closing this for cleanup purposes
/close

[2018-12-03 20:43] #51 closed

[2018-12-03 20:43] guineveresaenger commented on #50
Closing this for cleanup purposes
/close

[2018-12-03 20:43] #50 closed

[2018-12-04 00:42] guineveresaenger commented on #49
Closing this for cleanup purposes
/close

[2018-12-04 00:42] #49 closed

[2018-12-04 00:42] guineveresaenger commented on #47
Closing this for cleanup purposes
/close

[2018-12-04 00:42] #47 closed

[2018-12-04 00:43] guineveresaenger commented on #46
Closing this for cleanup purposes
/close

[2018-12-04 00:43] #46 closed

[2018-12-04 00:43] guineveresaenger commented on #45
Closing this for cleanup purposes
/close

[2018-12-04 00:43] #45 closed

[2018-12-04 00:43] guineveresaenger commented on #44
Closing this for cleanup purposes
/close

[2018-12-04 00:43] #44 closed

[2018-12-04 00:43] guineveresaenger commented on #43
Closing this for cleanup purposes
/close

[2018-12-04 00:43] #43 closed

[2018-12-04 00:43] guineveresaenger commented on #42
Closing this for cleanup purposes
/close

[2018-12-04 00:43] #42 closed

[2018-12-04 00:45] guineveresaenger commented on #41
Closing this for cleanup purposes
/close

[2018-12-04 00:45] #41 closed

[2018-12-04 00:45] guineveresaenger commented on #40
Closing this for cleanup purposes
/close

[2018-12-04 00:45] #40 closed

[2018-12-04 00:46] guineveresaenger commented on #39
Closing this for cleanup purposes
/close

[2018-12-04 00:46] #39 closed

[2018-12-04 00:46] guineveresaenger commented on #38
Closing this for cleanup purposes
/close

[2018-12-04 00:46] #38 closed

[2018-12-04 00:48] guineveresaenger commented on #37
Closing this for cleanup purposes
/close

[2018-12-04 00:48] #37 closed

[2018-12-04 00:49] guineveresaenger commented on #36
Closing this for cleanup purposes
/close

[2018-12-04 00:49] #36 closed

[2018-12-04 01:09] guineveresaenger commented on #35
Closing this for cleanup purposes
/close

[2018-12-04 01:09] #35 closed

[2018-12-04 01:09] guineveresaenger commented on #34
Closing this for cleanup purposes
/close

[2018-12-04 01:09] #34 closed

[2018-12-04 01:09] guineveresaenger commented on #33
Closing this for cleanup purposes
/close

[2018-12-04 01:09] #33 closed

[2018-12-04 01:10] guineveresaenger commented on #32
Closing this for cleanup purposes
/close

[2018-12-04 01:10] #32 closed

[2018-12-04 01:10] guineveresaenger commented on #30
Closing this for cleanup purposes
/close

[2018-12-04 01:10] #30 closed

[2018-12-04 01:19] guineveresaenger commented on #29
Closing this for cleanup purposes
/close

[2018-12-04 01:19] #29 closed

[2018-12-04 01:19] guineveresaenger commented on #28
Closing this for cleanup purposes
/close

[2018-12-04 01:19] #28 closed

[2018-12-04 01:20] guineveresaenger commented on #24
Closing this for cleanup purposes
/close

[2018-12-04 01:20] #24 closed

[2018-12-04 01:20] guineveresaenger commented on #23
Closing this for cleanup purposes
/close

[2018-12-04 01:20] #23 closed

[2018-12-04 01:20] guineveresaenger commented on #22
Closing this for cleanup purposes
/close

[2018-12-04 01:20] #22 closed

[2018-12-06 07:02] Toplife opened #113 "Issue test"
I have  many issue, do you will help me?

[2018-12-06 07:04] Toplife commented on #113
Good issue

[2018-12-06 07:04] Toplife commented on #113
test finished

[2018-12-06 07:04] #113 closed

[2018-12-10 21:07] epotex opened #117 "testing opening issue"
testing

[2018-12-10 21:07] pjsawicki opened #118 "We need more unicorns!"
We need to have more unicorns in this repo!

[2018-12-10 21:07] vikramk7 opened #119 "Dummy issue"
This is a dummy issue.

[2018-12-10 21:07] plallin opened #120 "Test issue please ignore"

[2018-12-10 21:07] tlmiller opened #121 "Seattle is cold fix it!!"
Seattle is cold fix it!!

[2018-12-10 21:07] wenlock opened #122 "hi guin! your slide meme game is :tada:"
:wave:

[2018-12-10 21:08] bensherman opened #123 "things are not alphabetized in the lexicon of klingon"
We alphabetized things on english, but klingon is basically opposite lexicographical of english

[2018-12-10 21:08] mrhillsman opened #124 "Creating a sample issue"
/kind feature
/sig contributor-experience
/priority low

[2018-12-10 21:08] omkensey opened #125 "Table 12 issue: Kubernetes needs more contributors"
Test issue for Kubernetes Contributor Summit.

[2018-12-10 21:08] karinnainiguez opened #126 "Not enough kitty pictures!"
Guinevere's kitty pictures are amazing, and we can't get enough of them! 🥇

[2018-12-10 21:08] cadwallion opened #127 "WANT: More Seattle"
The Seattle directory is pretty bare.  This place is pretty cool, we should probably add some more to showcase how awesome it is.

[2018-12-10 21:08] tong101 opened #128 "Add more documentation"
Add detailed workflow for new contributors.

[2018-12-10 21:08] miles- opened #129 "Typo in exercises/README.md"
s/improveements/improvements

[2018-12-10 21:08] hemani19 opened #130 "Incorrect workshop spelling in README.md"

[2018-12-10 21:08] mikekim opened #131 "Not enough animal photos in presentations"
/kind bug
KubeCon Seattle 2018 presentation slides do not have enough animal pictures in them.

I searched the existing issues and couldn't find anything about it. Sorry if it's a duplicate.

[2018-12-10 21:08] vishalraina opened #132 "Need template for issue filing"
Hi, Can we have a default template for filing issues?

[2018-12-10 21:08] kendallnelson opened #133 "No afternoon naptime in the schedule"
/kind bug

[2018-12-10 21:08] allenstecat opened #134 "At least it is not Raining in Seattle"
No rain during Kubecon

[2018-12-10 21:08] stmcginnis opened #135 "Table 1: Fix all the things"
Fix stuff

[2018-12-10 21:08] sectorsize512 opened #136 "Use K8s instead of Kubernetes consistently"

[2018-12-10 21:08] annehwatson commented on #118
+1

[2018-12-10 21:08] vishalraina commented on #132
/help

[2018-12-10 21:09] stevemcquaid opened #137 "README.md needs more cowbell"
The README.md located here:https://github.com/rcbops/kubecon2018/blob/master/README.md
Does not have enough cowbell. It affects UX and morale for all developers.

[2018-12-10 21:09] rajathagasthya opened #138 "Typo in excercises/README.md"
Typo in `improveements`

[2018-12-10 21:09] tokt opened #139 "test issue"
From the table 2.

[2018-12-10 21:09] kolobok01 opened #140 "Awesome issue one"
fix Awesome
/sig/contributor-experience

[2018-12-10 21:09] CsatariGergely opened #141 "Typo in contributor-playground/exercises/readme.md"
https://github.com/kubernetes-sigs/contributor-playground/tree/master/exercises
There are several typos in the file.

[2018-12-10 21:09] mychen66 opened #142 "please stop the rain in seattle"

[2018-12-10 21:09] asambeka opened #143 "Need SIG for Secrets"
Secrets need new SIG
/kind needs-sig

[2018-12-10 21:09] soggiest opened #144 "Hello Kubecon!"
We lost some of our team members though

[2018-12-10 21:09] serngawy opened #145 "issue for test table 12"

[2018-12-10 21:09] allisonwang commented on #130
/meow

[2018-12-10 21:09] raghu67 opened #146 "This is an issue from Table 1 and for Table 1"
Issue from Table 1

[2018-12-10 21:09] guineveresaenger commented on #136
/assign @jberkus

[2018-12-10 21:09] tengfeimu commented on #123
+1

[2018-12-10 21:09] cadwallion commented on #127
/assign bensherman

[2018-12-10 21:09] pgdagenais commented on #135
What do you need fixing

[2018-12-10 21:09] allisonwang commented on #130
/joke

[2018-12-10 21:09] miles- commented on #129
/assign @paulinelc

[2018-12-10 21:09] magaldima commented on #120
/kind bug

[2018-12-10 21:09] georgekuruvillak commented on #136
makes sense!! good to work on.

[2018-12-10 21:09] scottballenger opened #147 "Please add scottballenger to the seattle owners file"

[2018-12-10 21:09] cadwallion commented on #127
/assign @bensherman

[2018-12-10 21:09] stmcginnis commented on #135
/assign @pgdagenais

[2018-12-10 21:09] coderanger opened #148 "Conference wifi is very slow"
/sig contribex
/kind bug
/area wifi

[2018-12-10 21:09] vishalraina commented on #132
/kind bug

[2018-12-10 21:10] agamdua commented on #138
first.

[2018-12-10 21:10] kmova commented on #132
What should be format of the issue template? What could be some main categories?

[2018-12-10 21:10] stevemcquaid commented on #137
/sig contributor-experience

[2018-12-10 21:10] omkensey commented on #125
/sig-label sig-contributor-experience

[2018-12-10 21:10] ff8eyes commented on #117
/needs-sigs

[2018-12-10 21:10] gemagomez commented on #124
/sig contriberx

[2018-12-10 21:10] CsatariGergely commented on #142
/sig contributor-experience

[2018-12-10 21:10] rajathagasthya commented on #144
What is the fix for the issue?

[2018-12-10 21:10] ruthogunnnaike commented on #124
There aren't enough samples on how to use kubernetes. Just a comment sample

[2018-12-10 21:10] cezarygerard commented on #118
unbelievable...

[2018-12-10 21:10] pjsawicki commented on #118
/label sig-scalability

[2018-12-10 21:10] plaurin84 commented on #145
/assign @serngawy

Inception autoresolving his own issue.

[2018-12-10 21:10] jsturtevant opened #149 "fix spelling on exercise readme.md"
https://github.com/kubernetes-sigs/contributor-playground/tree/master/exercises

[2018-12-10 21:10] tokt commented on #139
/sig contrib-experience

[2018-12-10 21:10] elft3r commented on #133
/sig contributer-experience

[2018-12-10 21:10] epotex commented on #117
/sig bug

[2018-12-10 21:10] allisonwang commented on #130
/sig contributor-experience

[2018-12-10 21:10] sectorsize512 commented on #136
/sig docs

[2018-12-10 21:10] PaulineLc commented on #129
You need to add a sig. What about `/kind bug`? Or `/kind documentation`?

[2018-12-10 21:10] soggiest commented on #144
Track them down and chain them to the table?

[2018-12-10 21:10] markyjackson-taulia commented on #147
/sig contribex

[2018-12-10 21:10] stmcginnis commented on #135
/kind bug

[2018-12-10 21:10] tlmiller commented on #148
Also no IPv6 :)

[2018-12-10 21:11] tong101 commented on #149
/kind bug

[2018-12-10 21:11] GitBytes commented on #125
/label improvement

[2018-12-10 21:11] agamdua commented on #144
They'll be back. They know where the cool kids are.

[2018-12-10 21:11] miles- commented on #129
/kind bug

[2018-12-10 21:11] guineveresaenger commented on #136
/cc @wenlock

[2018-12-10 21:11] cadwallion commented on #127
/cc @bensherman

[2018-12-10 21:11] Lazyshot commented on #139
/assign @lazyshot

[2018-12-10 21:11] mychen66 commented on #142
/sig contributor-experience

[2018-12-10 21:11] wenlock commented on #123
/cc @cadwallion

[2018-12-10 21:11] allisonwang commented on #130
/sig docs

[2018-12-10 21:11] vikramk7 commented on #144
I will fix this.

[2018-12-10 21:11] kschumy commented on #131
/sig contributor-experience

[2018-12-10 21:11] annehwatson commented on #125
/sig contributor-experience

[2018-12-10 21:11] stmcginnis commented on #135
/cc @pgdagenais

[2018-12-10 21:11] vllry commented on #149
/sig sig-docs

[2018-12-10 21:11] soggiest commented on #138
/assign me

[2018-12-10 21:11] tokt commented on #139
/sig contributor-experience

[2018-12-10 21:11] vikramk7 commented on #144
/assign vikramk7

[2018-12-10 21:11] pjsawicki commented on #118
/cc @wenlock

[2018-12-10 21:11] rajathagasthya commented on #144
Works for me.

[2018-12-10 21:11] richardmarshall commented on #149
/sig contributor-experience

[2018-12-10 21:11] raghu67 commented on #146
/sig contributor-experience

[2018-12-10 21:11] markyjackson-taulia commented on #138
/sig contribex

[2018-12-10 21:11] epotex commented on #117
/kind bug

[2018-12-10 21:11] miles- commented on #129
/sig docs

[2018-12-10 21:11] mikekim commented on #131
/cc @guineveresaenger

[2018-12-10 21:11] Cryptophobia commented on #142
Please submit a relevant PR to the weather repo.

[2018-12-10 21:11] sectorsize512 commented on #136
/cc @a-vorobiev

[2018-12-10 21:11] wenlock commented on #123
/assign @bensherman likes email

[2018-12-10 21:11] plaurin84 commented on #145
/kind bug

[2018-12-10 21:11] cchengleo commented on #131
/sig contributor-experience

[2018-12-10 21:11] jdjgya opened #150 "Unable to support the IPv6 connection between the PODs"
### Summary
Unable to support the IPv6 connection between the PODs

### Reproducible
100%

 ### Steps
1.
2.
3.
.....

 ### Release
1.12.0

[2018-12-10 21:11] mychen66 commented on #143
/sig contributor-experience

[2018-12-10 21:11] stmcginnis commented on #135
We need French translation but I don't really speak it. :)

[2018-12-10 21:11] vishalraina commented on #132
Maybe for this repo, we can add city and issue summary and issue details and logs if any.

[2018-12-10 21:11] wenlock commented on #123
/assign @cadwallion

[2018-12-10 21:12] Lazyshot commented on #139
/kind bug

[2018-12-10 21:12] CsatariGergely commented on #141
/cc @guineveresaenger

[2018-12-10 21:12] karinnainiguez commented on #125
/kind feature

[2018-12-10 21:12] GitBytes commented on #125
/kind enhancement

[2018-12-10 21:12] PaulineLc commented on #129
/kind documentation

[2018-12-10 21:12] sectorsize512 commented on #136
/cc @rifelpet

[2018-12-10 21:12] omkensey commented on #125
/assign annehwatson You labeled it successfully, assigning to you :)

[2018-12-10 21:12] plnordquist commented on #125
/meow

[2018-12-10 21:12] markyjackson-taulia commented on #141
/sig contribex

[2018-12-10 21:12] karinnainiguez commented on #125
/cc @annehwatson

[2018-12-10 21:12] raghu67 commented on #146
/kind bug

[2018-12-10 21:12] vishalraina commented on #132
/good-first-issue

[2018-12-10 21:12] asambeka commented on #143
/cc @tong101

[2018-12-10 21:12] markyjackson-taulia commented on #134
/sig contribex

[2018-12-10 21:12] tong101 commented on #128
/cc @asambeka

[2018-12-10 21:12] richardmarshall commented on #148
/sig contributor-experience

[2018-12-10 21:12] CsatariGergely commented on #131
Isn't bug an animal?

[2018-12-10 21:12] scottballenger commented on #147
/cc cezarygerard

[2018-12-10 21:12] swiftdiaries commented on #141
/sig contributor-experience

[2018-12-10 21:12] vllry commented on #149
/priority important-soon

[2018-12-10 21:13] mychen66 commented on #142
/kind bug

[2018-12-10 21:13] ff8eyes commented on #147
/sig sig-contribex

[2018-12-10 21:13] magaldima commented on #129
you also need to add a review and an approver.

[2018-12-10 21:13] tong101 commented on #128
/assign @asambeka

[2018-12-10 21:13] kmova commented on #132
/help-wanted

[2018-12-10 21:13] jsturtevant commented on #140
/sig contributor-experience

[2018-12-10 21:13] sectorsize512 commented on #136
/cc @georgekuruvillak

[2018-12-10 21:13] annehwatson commented on #125
/assign @omkensey

[2018-12-10 21:13] omkensey commented on #125
/assign @annehwatson annehwatson You labeled it successfully, assigning to you :)

[2018-12-10 21:13] rajathagasthya commented on #138
/kind bug

[2018-12-10 21:13] soggiest commented on #138
/assign @soggiest

[2018-12-10 21:13] pjsawicki commented on #118
/meow

[2018-12-10 21:13] wenlock commented on #123
/meow

[2018-12-10 21:13] cadwallion commented on #127
/kind feature

[2018-12-10 21:13] bensherman commented on #123
/doggo

[2018-12-10 21:13] karinnainiguez commented on #126
/close

[2018-12-10 21:13] mychen66 commented on #142
/meow

[2018-12-10 21:13] GitBytes commented on #125
/joke

[2018-12-10 21:13] #126 closed

[2018-12-10 21:13] gemagomez commented on #124
/meow

[2018-12-10 21:13] cadwallion commented on #127
/meow

[2018-12-10 21:13] allisonwang commented on #130
/meow

[2018-12-10 21:13] epotex commented on #147
/meow

[2018-12-10 21:13] soggiest commented on #138
/shrug

[2018-12-10 21:13] vikramk7 commented on #144
/meh

[2018-12-10 21:13] omkensey commented on #125
:beetle:

[2018-12-10 21:13] miles- commented on #129
/meow

[2018-12-10 21:13] tokt commented on #139
/meow

[2018-12-10 21:13] allisonwang commented on #130
/meow

[2018-12-10 21:13] pjsawicki commented on #118
/unicorn

[2018-12-10 21:13] vikramk7 commented on #144
/meow

[2018-12-10 21:13] elft3r commented on #133
/assign @guineveresaenger

[2018-12-10 21:14] sectorsize512 commented on #136
/cc @sectorsize512

[2018-12-10 21:14] vikramk7 commented on #144
/woof

[2018-12-10 21:14] a-vorobiev commented on #136
/kind documentation

[2018-12-10 21:14] guineveresaenger commented on #131
/meow

[2018-12-10 21:14] serngawy commented on #145
/meow

[2018-12-10 21:14] pjsawicki commented on #118
/lgtm

[2018-12-10 21:14] magaldima commented on #137
this needs a kind maybe `/kind bug`

[2018-12-10 21:14] PaulineLc commented on #120
/meow

[2018-12-10 21:14] mychen66 commented on #142
/lgtm

[2018-12-10 21:14] asambeka commented on #143
/assign tong101

[2018-12-10 21:14] kolobok01 commented on #140
/kind feature

[2018-12-10 21:14] GitBytes commented on #125
/lgtm

[2018-12-10 21:14] kschumy commented on #131
/joke

[2018-12-10 21:14] ff8eyes commented on #147
/sig contributor-experience

[2018-12-10 21:14] guineveresaenger commented on #131
/woof

[2018-12-10 21:14] tlmiller commented on #121
/kind bug

[2018-12-10 21:14] asambeka commented on #143
/meow

[2018-12-10 21:14] karinnainiguez commented on #145
/shrug

[2018-12-10 21:14] richardmarshall commented on #148
/meow

[2018-12-10 21:14] a-vorobiev commented on #136
/meow

[2018-12-10 21:14] jdjgya commented on #150
/kind bug

[2018-12-10 21:14] elft3r commented on #133
/sig contributor-experience

[2018-12-10 21:14] Cryptophobia commented on #150
Release 1.13.0 is already out we should have this feature in roadmap for 1.14.0 :+1:

[2018-12-10 21:14] allisonwang commented on #130
/woof

[2018-12-10 21:14] ruthogunnnaike commented on #124
/assign @k8s-ci-robot

[2018-12-10 21:15] plaurin84 commented on #145
/woof

[2018-12-10 21:15] rajathagasthya commented on #138
/sig contributor-experience

[2018-12-10 21:15] gemagomez commented on #124
/woof

[2018-12-10 21:15] pjsawicki commented on #118
/kind bug

[2018-12-10 21:15] miles- commented on #129
/woof

[2018-12-10 21:15] bensherman commented on #123
/woof

[2018-12-10 21:15] wenlock commented on #123
bot lives here https://github.com/kubernetes/test-infra/tree/master/prow

[2018-12-10 21:15] scottballenger commented on #147
/woof

[2018-12-10 21:15] raghu67 commented on #146
/meow

[2018-12-10 21:15] bensherman commented on #123
/meow

[2018-12-10 21:15] vishalraina commented on #132
/mewo

[2018-12-10 21:15] pgdagenais commented on #135
/meow

[2018-12-10 21:15] sectorsize512 commented on #136
/woof

[2018-12-10 21:15] PaulineLc commented on #120
/sig testing

[2018-12-10 21:15] ams0 commented on #125
/assign ams0

[2018-12-10 21:15] magaldima commented on #137
/kind bug

[2018-12-10 21:15] karinnainiguez commented on #125
/woof

[2018-12-10 21:15] kmova commented on #148
/cc @guineveresaenger

[2018-12-10 21:15] kolobok01 commented on #140
/lgtm

[2018-12-10 21:15] stevemcquaid commented on #137
Duplicate of:
- https://github.com/kubernetes-sigs/contributor-playground/issues/118
- https://github.com/kubernetes-sigs/contributor-playground/issues/126
- https://github.com/kubernetes-sigs/contributor-playground/issues/131
- https://github.com/kubernetes-sigs/contributor-playground/issues/137

/triage duplicate

[2018-12-10 21:16] allisonwang commented on #130
/sig shrug

[2018-12-10 21:16] seokho-son opened #151 "just to say hello"
hello everyone. hello k8s-ci-boot.

[2018-12-10 21:16] Cryptophobia commented on #142
/meow

[2018-12-10 21:16] pgdagenais commented on #146
/shrug

[2018-12-10 21:16] jdjgya commented on #150
¯\_(ツ)_/¯

[2018-12-10 21:16] richardmarshall commented on #149
/shrug

[2018-12-10 21:16] markyjackson-taulia commented on #144
/sig contributor-experience

[2018-12-10 21:16] stmcginnis commented on #135
/shrug

[2018-12-10 21:16] rajathagasthya commented on #149
Dupe of #138 ;)

[2018-12-10 21:16] stevemcquaid commented on #131
Duplicate of:
#118
#126
#137

/triage duplicate

[2018-12-10 21:16] epotex commented on #147
/cc epotex

[2018-12-10 21:16] ff8eyes commented on #151
/sig contributor-experience

[2018-12-10 21:16] ruthogunnnaike commented on #124
/assign @mrhillsman

[2018-12-10 21:16] cezarygerard commented on #147
please prepare the PR

[2018-12-10 21:16] swiftdiaries commented on #141
/meow

[2018-12-10 21:16] soggiest opened #152 "/shrug emoticon is not correct"
it's missing the smiley face

[2018-12-10 21:16] tpepper commented on #150
/sig networking

[2018-12-10 21:16] Lazyshot commented on #139
/joke

[2018-12-10 21:16] vishalraina commented on #132
/status

[2018-12-10 21:17] allisonwang commented on #130
/shrug

[2018-12-10 21:17] kendallnelson commented on #133
/assign @flaper87

[2018-12-10 21:17] mikekim commented on #128
/sig doc

[2018-12-10 21:17] kolobok01 commented on #140
/test all

[2018-12-10 21:17] stevemcquaid commented on #118
Duplicate of:

#126
#131
#137

/triage duplicate

[2018-12-10 21:17] swiftdiaries commented on #141
/check-cla

[2018-12-10 21:17] idealhack commented on #148
/shrug

[2018-12-10 21:17] soggiest commented on #152
/sig contribex

[2018-12-10 21:17] mikekim commented on #128
/dig docs

[2018-12-10 21:17] tlmiller commented on #152
/shrug

[2018-12-10 21:17] mikekim commented on #128
/sig docs

[2018-12-10 21:17] gemagomez commented on #124
/sig aws

[2018-12-10 21:17] ruthogunnnaike commented on #124
/meow

[2018-12-10 21:17] stevemcquaid commented on #118
/sig contributor-experience

[2018-12-10 21:17] VaibhavPage commented on #129
/assign @magaldima

[2018-12-10 21:17] serngawy commented on #145
/assign @plaurin84

[2018-12-10 21:17] richardmarshall commented on #151
/joke

[2018-12-10 21:17] stevemcquaid commented on #126
/sig contributor-experience
/triage duplicate

[2018-12-10 21:18] stmcginnis commented on #135
/bark

[2018-12-10 21:18] PaulineLc commented on #129
/remove-kind bug

[2018-12-10 21:18] oneoneonepig opened #153 "NEW EEEEEESHOE"
This is a new issue?

/kind feature
/sig shrug

[2018-12-10 21:18] coderanger commented on #148
/joke

[2018-12-10 21:18] omkensey commented on #125
/unassign @omkensey
/assign @annehwatson

[2018-12-10 21:18] allenstecat opened #154 "Testing Serverless Functions"
Please test this code without a server because it is server less

/sig contributor-experience

[2018-12-10 21:18] sectorsize512 commented on #136
/assign @georgekuruvillak

[2018-12-10 21:18] cezarygerard commented on #147
/assign cezarygerard

[2018-12-10 21:18] pjsawicki commented on #118
/sig docs
/sig unicorns

[2018-12-10 21:18] Jeffwan commented on #124
/assign @gemagomez

[2018-12-10 21:19] omkensey commented on #125
/assign

[2018-12-10 21:19] swiftdiaries commented on #141
/joke

[2018-12-10 21:19] vishalraina commented on #132
/joke

[2018-12-10 21:19] oneoneonepig commented on #153
/shrug

[2018-12-10 21:19] cchengleo commented on #131
#126

[2018-12-10 21:19] pjsawicki commented on #118
/assign @cezarygerard

[2018-12-10 21:19] allenstecat commented on #134
/sig contributor-experience

[2018-12-10 21:19] Smirl commented on #137
/joke

[2018-12-10 21:19] raghu67 commented on #146
/milestone v1.10

[2018-12-10 21:19] GitBytes commented on #125
/sig contributor-experience

[2018-12-10 21:20] pjsawicki commented on #118
/woof

[2018-12-10 21:20] rifelpet commented on #136
/joke

[2018-12-10 21:20] tpepper commented on #150
/sig network

[2018-12-10 21:21] rifelpet commented on #136
https://prow.k8s.io/command-help

[2018-12-10 21:21] magaldima opened #156 "need help"
/kind bug
/priority critical
/sig docs

[2018-12-10 21:21] a-vorobiev commented on #136
/shrug

[2018-12-10 21:21] epotex commented on #117
/woof

[2018-12-10 21:21] VaibhavPage opened #157 "Fix the bug"
/sig docs
/kind bug

[2018-12-10 21:21] sectorsize512 commented on #136
/assign @rifelpet

[2018-12-10 21:21] idealhack commented on #148
/priority critical-urgent

[2018-12-10 21:21] plaurin84 commented on #142
/joke

[2018-12-10 21:21] ff8eyes commented on #151
/wolf

[2018-12-10 21:22] cezarygerard commented on #137
/help

[2018-12-10 21:22] mychen66 commented on #138
/kind feature

[2018-12-10 21:22] jdjgya commented on #150
/shrug

[2018-12-10 21:23] Cryptophobia commented on #150
/joke

[2018-12-10 21:27] tong101 opened #160 "Add table 4 github ids"

[2018-12-10 21:32] mychen66 commented on #143
/lgtm

[2018-12-10 21:35] mychen66 commented on #142
/ok-to-test

[2018-12-10 21:36] mychen66 commented on #142
/ok-to-test

[2018-12-10 21:38] vllry opened #166 "Add more cats to ./seattle"

[2018-12-10 21:38] vllry commented on #166
/sig contributor-experience

[2018-12-10 21:41] Lazyshot commented on #139
/close

[2018-12-10 21:47] jdjgya commented on #135
/meow

[2018-12-10 21:54] #166 closed

[2018-12-10 22:01] magaldima commented on #157
/approve

[2018-12-10 22:01] magaldima commented on #157
/lgtm

[2018-12-10 22:01] magaldima commented on #157
/meow

[2018-12-10 22:01] magaldima commented on #157
/joke

[2018-12-10 22:02] magaldima commented on #157
/joke
/joke

[2018-12-10 22:02] magaldima commented on #157
haha

[2018-12-10 22:04] #122 closed

[2018-12-10 22:12] guineveresaenger commented on #131
/meow space

[2018-12-10 22:17] mikekim commented on #131
/woof space

[2018-12-10 22:18] allenstecat opened #208 "Access to all slides from New Contributor and Contributor Conference?"
Access to all slides from New Contributor and Contributor Conference?

/sig contributor-experience
@guineveresaenger

[2018-12-10 23:11] #123 closed

[2018-12-11 05:33] #127 closed

[2018-12-12 08:48] #138 closed

[2018-12-12 20:38] fejta commented on #118
Please see https://github.com/kubernetes/test-infra/issues/10415 where we are working on something similar.

[2018-12-12 21:09] nikhita opened #212 "Diversity Lunch @ KubeCon"

[2018-12-12 21:09] nikhita commented on #212
/meow

[2018-12-12 21:09] nikhita commented on #212
/woof

[2018-12-12 21:10] nikhita commented on #212
/woof this-is-fine

[2018-12-12 21:15] nikhita commented on #212
/assign @nikhita

[2018-12-12 21:16] nikhita commented on #212
/assign @cindy @aditya-konarde

[2018-12-12 21:46] #212 closed

[2018-12-18 00:12] Katharine commented on #118
We have more unicorns now.

/pony unicorn

[2018-12-18 08:41] idealhack commented on #118
/pony unicorn
/close

[2018-12-18 08:41] #118 closed

[2018-12-18 14:05] pjsawicki commented on #118
/pony unicorn

[2019-01-04 00:31] guineveresaenger commented on #208
PR being worked on here: https://github.com/kubernetes-sigs/contributor-playground/pull/213

in the meantime, please see https://github.com/cncf/presentations/tree/master/kubernetes

[2019-01-04 00:36] guineveresaenger commented on #160
Closing this for cleanup - remember you can always `/reopen` if you like!

/close

[2019-01-04 00:36] #160 closed

[2019-01-04 00:36] guineveresaenger commented on #157
Closing this for cleanup - remember you can always `/reopen` if you like!

/close

[2019-01-04 00:36] #157 closed

[2019-01-04 00:36] guineveresaenger commented on #156
Closing this for cleanup - remember you can always `/reopen` if you like!

/close

[2019-01-04 00:36] #156 closed

[2019-01-04 00:36] guineveresaenger commented on #153
Closing this for cleanup - remember you can always `/reopen` if you like!

/close

[2019-01-04 00:36] #153 closed

[2019-01-04 00:37] guineveresaenger commented on #154
best issue title ever 😂

Closing this for cleanup - remember you can always `/reopen` if you like!

/close

[2019-01-04 00:37] #154 closed

[2019-01-04 00:37] guineveresaenger commented on #152
Closing this for cleanup - remember you can always `/reopen` if you like!

/close

[2019-01-04 00:37] #152 closed

[2019-01-04 00:38] guineveresaenger commented on #151
Closing this for cleanup - remember you can always `/reopen` if you like!

/close

[2019-01-04 00:38] #151 closed

[2019-01-04 00:38] guineveresaenger commented on #150
Closing this for cleanup - remember you can always `/reopen` if you like!

/close

[2019-01-04 00:38] #150 closed

[2019-01-04 00:39] guineveresaenger commented on #148
I promise you, everyone was complaining about the wifi. Not sure if this will spell improvement for the future. :(

Closing this for cleanup - remember you can always `/reopen` if you like!

/close

[2019-01-04 00:39] #148 closed

[2019-01-04 00:40] guineveresaenger commented on #149
Closing this for cleanup - remember you can always `/reopen` if you like!

/close

[2019-01-04 00:40] #149 closed

[2019-01-04 00:40] guineveresaenger commented on #147
Closing this for cleanup - remember you can always `/reopen` if you like!

/close

[2019-01-04 00:40] #147 closed

[2019-01-04 00:40] guineveresaenger commented on #146
Closing this for cleanup - remember you can always `/reopen` if you like!

/close

[2019-01-04 00:40] #146 closed

[2019-01-04 00:41] guineveresaenger commented on #145
Closing this for cleanup - remember you can always `/reopen` if you like!

/close

[2019-01-04 00:41] #145 closed

[2019-01-04 00:41] guineveresaenger commented on #144
Closing this for cleanup - remember you can always `/reopen` if you like!

/close

[2019-01-04 00:41] #144 closed

[2019-01-04 00:41] guineveresaenger commented on #143
Closing this for cleanup - remember you can always `/reopen` if you like!

/close

[2019-01-04 00:41] #143 closed

[2019-01-04 00:42] guineveresaenger commented on #142
Still raining.
/wontfix

Closing this for cleanup - remember you can always `/reopen` if you like!

/close

[2019-01-04 00:42] #142 closed

[2019-01-04 00:42] guineveresaenger commented on #141
Closing this for cleanup - remember you can always `/reopen` if you like!

/close

[2019-01-04 00:42] #141 closed

[2019-01-04 00:42] guineveresaenger commented on #140
Closing this for cleanup - remember you can always `/reopen` if you like!

/close

[2019-01-04 00:42] #140 closed

[2019-01-04 00:42] guineveresaenger commented on #139
Closing this for cleanup - remember you can always `/reopen` if you like!

/close

[2019-01-04 00:42] #139 closed

[2019-01-04 00:43] guineveresaenger commented on #137
Closing this for cleanup - remember you can always `/reopen` if you like!

/close

[2019-01-04 00:43] #137 closed

[2019-01-04 00:43] guineveresaenger commented on #136
Closing this for cleanup - remember you can always `/reopen` if you like!

/close

[2019-01-04 00:43] #136 closed

[2019-01-04 00:43] guineveresaenger commented on #135
Closing this for cleanup - remember you can always `/reopen` if you like!

/close

[2019-01-04 00:43] #135 closed

[2019-01-04 00:44] guineveresaenger commented on #134
Closing this with prejudice. 😝 (I live in Seattle and it's pouring)

/close

[2019-01-04 00:44] #134 closed

[2019-01-04 00:45] guineveresaenger commented on #133
We will take this into consideration for future workshops.

/close

[2019-01-04 00:45] #133 closed

[2019-01-04 00:46] guineveresaenger commented on #131
Don't encourage me.

KITTENS ALL THE WAY 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈 🐈

/close

[2019-01-04 00:46] #131 closed

[2019-01-04 00:47] guineveresaenger commented on #130
Closing this for cleanup reasons - feel free to submit a spelling fix PR! 😉

/close

[2019-01-04 00:47] #130 closed

[2019-01-04 00:47] guineveresaenger commented on #129
This seems done.

/close

[2019-01-04 00:47] #129 closed

[2019-01-04 00:49] guineveresaenger commented on #128
Please find the Contributor Guide here:

https://git.k8s.io/community/contributors/guide

/close

[2019-01-04 00:49] #128 closed

[2019-01-04 00:49] guineveresaenger commented on #125
It does.

Closing this for now.

/close

[2019-01-04 00:49] #125 closed

[2019-01-04 00:49] guineveresaenger commented on #124
Closing this for now.

/close

[2019-01-04 00:50] #124 closed

[2019-01-04 00:51] #121 closed

[2019-01-04 00:51] guineveresaenger commented on #120
Closing this for now.

/close

[2019-01-04 00:51] #120 closed

[2019-01-04 00:51] guineveresaenger commented on #119
Closing this for now.

/close

[2019-01-04 00:51] #119 closed

[2019-01-04 00:51] guineveresaenger commented on #117
Closing this for now.

/close

[2019-01-04 00:51] #117 closed

[2019-01-08 04:30] guineveresaenger commented on #208
Closing this via #213!

[2019-02-23 22:27] tomba7 opened #222 "Need more test cases"

[2019-02-23 22:28] amarnathkarthik opened #223 "Add more documentation"
Add more documentation

[2019-02-23 22:29] lamyanba commented on #222
/sig testing

[2019-02-23 22:29] amarnathkarthik commented on #223
/sig documentation

[2019-02-23 22:29] jpeach commented on #222
/sig foo

[2019-02-23 22:30] guineveresaenger commented on #222
/kind bug

[2019-02-23 22:30] gm7y8 commented on #223
/kind good first issue

[2019-02-23 22:30] shakeelrao commented on #222
/sig YEEEEEEEEEEEEEET

[2019-02-23 22:30] jpeach commented on #222
/kind cleanup

[2019-02-23 22:30] amarnathkarthik commented on #223
/kind documentation

[2019-02-23 22:31] gm7y8 commented on #223
/good-first-issue

[2019-02-23 22:31] electrocucaracha commented on #222
/shrug

[2019-02-23 22:32] jpeach commented on #222
/joke

[2019-02-23 22:32] sumitranr commented on #222
/good-first-issue

[2019-02-23 22:32] guineveresaenger commented on #223
what happens if I don't start with a slash: /sig contributor-experience

[2019-02-23 22:32] nandakishorek commented on #223
/sig contributor-experience

[2019-02-23 22:32] jberkus commented on #223
/woof

[2019-02-23 22:33] guineveresaenger commented on #223
/meow space

[2019-02-23 22:33] sumitranr commented on #223
/meow laser

[2019-02-23 22:34] RajiBabu commented on #223
/meow

[2019-02-23 22:34] yb172 commented on #223
/check-cla

[2019-02-23 22:34] fragatina commented on #223
/meow

[2019-02-23 22:35] guineveresaenger commented on #223
/assign @jberkus

[2019-02-23 22:35] fragatina commented on #223
/check-cla

[2019-02-23 22:36] jberkus commented on #223
What kind of documentation?  What's missing?

[2019-02-23 22:36] guineveresaenger commented on #223
/lgtm

[2019-02-23 22:36] jpeach commented on #223
/not-a-command

[2019-02-23 22:37] jberkus commented on #223
/unassign

[2019-02-23 22:37] electrocucaracha commented on #223
/cc @electrocucaracha

[2019-02-23 22:38] guineveresaenger commented on #223
Here we would discuss details; talk, suggest, find time to hack, come up with a plan to fix the documentation.

[2019-02-23 22:38] jberkus commented on #223
/assign @blueviggen

[2019-02-23 22:39] imkin commented on #222
/meowvie clothes

[2019-02-23 22:40] imkin commented on #222
/this-is-unbearable

[2019-02-23 22:41] imkin commented on #222
/shrug

[2019-02-23 23:02] v-gachary commented on #223
/ assgin @v-gachary

[2019-02-23 23:15] v-gachary commented on #223
/lgtm

[2019-05-10 03:23] guineveresaenger commented on #208
/close

[2019-05-10 03:23] #208 closed

[2019-05-27 10:52] rmarcum commented on #223
/remove-lifecycle stale

[2019-05-27 16:03] sumitranr commented on #222
/remove-lifecycle stale

[2019-05-27 16:04] sumitranr commented on #222
/remove-good-first-issue

[2019-06-24 03:07] ken-liupk opened #298 "Add more tests"

[2019-06-24 03:08] Gnnng opened #299 "Needs some help here"

[2019-06-24 03:08] zmldh opened #300 "this is a test issue from our table member 6"
this issue is for practice purpose of new contributor workshop

[2019-06-24 03:08] luyun-aa opened #301 "Two days trip"
Where would you like to go?

[2019-06-24 03:08] allenmo0117 commented on #299
/kind documentation

[2019-06-24 03:08] shimron opened #302 "node-selector on namespace scope"

[2019-06-24 03:09] lichen2013 commented on #300
/good-first-issue

[2019-06-24 03:09] ken-liupk commented on #298
/sig test

[2019-06-24 03:09] ghostwriternr opened #303 "Test Issue - KubeCon Shanghai"

[2019-06-24 03:09] ashahab commented on #299
/sig contributor-experience

[2019-06-24 03:09] qwu16 commented on #300
/good-first-issue

[2019-06-24 03:09] qwu16 commented on #300
/kind

[2019-06-24 03:09] allenmo0117 commented on #302
/kind documentation

[2019-06-24 03:09] zmldh commented on #300
/area/kind

[2019-06-24 03:09] akashs2795 opened #304 "Exercise Issue - 24/06/19"
This is a dummy issue to check how to open issues, add/update labels, etc.

[2019-06-24 03:09] ken-liupk commented on #301
/sig documentation

[2019-06-24 03:09] shimron commented on #302
/sig-scheduling

[2019-06-24 03:09] kevinGC opened #305 "This is an issue for the BEST table"
이게 내용입니다.

[2019-06-24 03:09] lichen2013 commented on #300
/sig contributor-experience

[2019-06-24 03:09] violet2016 opened #306 "need more tests"
/kind documentation
/sig contributor-experience

[2019-06-24 03:10] pluradj opened #307 "Local snacks needed"
I am hungry, did not eat breakfast. I need a list of tasty local snack foods.

[2019-06-24 03:10] 327101303 opened #308 "is a example issue"
how to set the lable for issue

[2019-06-24 03:10] ashahab commented on #299
Add descriptions please

[2019-06-24 03:10] luyun-aa commented on #301
/sig contributor-experience

[2019-06-24 03:10] chrnorm commented on #304
/sig contributor-experience

[2019-06-24 03:10] lichen2013 commented on #300
/kind bug

[2019-06-24 03:10] qwu16 commented on #300
/kind feature

[2019-06-24 03:10] akashs2795 commented on #304
/kind documentation

[2019-06-24 03:10] shimron commented on #302
/kind feature

[2019-06-24 03:10] jeffwubj opened #309 "playground-issue-jeff"
test

[2019-06-24 03:11] ken-liupk commented on #298
/sig scalability

[2019-06-24 03:11] kevinGC commented on #305
/sig contributor-experience
/kind documentation

[2019-06-24 03:11] goldginkgo commented on #301
/kind documentation

[2019-06-24 03:11] zghuang commented on #306
someone will look it..

[2019-06-24 03:11] zmldh commented on #300
/area kind

[2019-06-24 03:11] ghostwriternr commented on #303
/kind documentation

[2019-06-24 03:11] yanhan commented on #301
/kind bug

[2019-06-24 03:11] pluradj commented on #307
/kind documentation

[2019-06-24 03:11] ken-liupk commented on #298
/cleanup sig

[2019-06-24 03:11] OnionPiece opened #310 "have-a-test"
/kind documentation
/sig contributor-experience
/hold
/lint

[2019-06-24 03:11] axsaucedo opened #311 "Kubecon Error - 404 Conference not found"
**What happened**:
Can't find it, I got a 500 when I arrived. HALP!

**What you expected to happen**:
a 200

**How to reproduce it (as minimally and precisely as possible)**:
Arrive to the conference

**Anything else we need to know?**:
No

**Environment**:
- Shanghai

[2019-06-24 03:11] ghostwriternr commented on #303
/sig contributor-experience

[2019-06-24 03:12] TaylorHere commented on #305
🔫

[2019-06-24 03:12] shimron commented on #302
/area node

[2019-06-24 03:12] yanhan commented on #310
/kind weird-kind

[2019-06-24 03:12] luyun-aa commented on #301
/good-first-issue

[2019-06-24 03:12] pluradj commented on #307
/kind documentation

[2019-06-24 03:12] pluradj commented on #307
/sig contributor-experience

[2019-06-24 03:12] pkuzhangkai opened #312 "Learn how to use"
add this issue to learn how to use

[2019-06-24 03:12] lichen2013 commented on #300
/area dns

[2019-06-24 03:12] carlisia commented on #304
Looks good!

[2019-06-24 03:12] ken-liupk commented on #298
/help

[2019-06-24 03:12] shimron commented on #302
/priority important-soon

[2019-06-24 03:13] violet2016 commented on #306
triage/duplicated

[2019-06-24 03:13] zmldh commented on #300
/area kubectl

[2019-06-24 03:13] ken-liupk commented on #298
/remove-help

[2019-06-24 03:13] qwu16 commented on #300
/lifecycle rotten

[2019-06-24 03:13] violet2016 commented on #306
triage/ duplicated

[2019-06-24 03:13] yanhan commented on #310
/sig autoscaling

[2019-06-24 03:13] shimron commented on #302
/triage needs-information

[2019-06-24 03:13] pkuzhangkai commented on #312
/kind documentation

[2019-06-24 03:13] ken-liupk commented on #298
/remove-sig

[2019-06-24 03:14] luyun-aa commented on #301
/lgtm

[2019-06-24 03:14] zuiurs commented on #304
/priority important-soon

[2019-06-24 03:14] pkuzhangkai commented on #312
/sig contributor-experience

[2019-06-24 03:14] axsaucedo commented on #311
/sig scalability

[2019-06-24 03:14] TaylorHere commented on #305
/priority critical-urgent

[2019-06-24 03:14] yanhan commented on #310
/sig instrumentation

[2019-06-24 03:14] zmldh commented on #300
/priority critical-urgent

[2019-06-24 03:14] yanhan commented on #301
/lgtm

[2019-06-24 03:15] ashahab commented on #299
/retest

[2019-06-24 03:15] pkuzhangkai commented on #312
/kind bug

[2019-06-24 03:15] TaylorHere commented on #305
/help

[2019-06-24 03:15] violet2016 commented on #306
/joke

[2019-06-24 03:15] zghuang commented on #306
/retest

[2019-06-24 03:15] kevinGC commented on #305
(atlas) /shrug

[2019-06-24 03:16] jeffwubj commented on #309
/sig contributor-experience

[2019-06-24 03:16] luyun-aa commented on #301
/shrug

[2019-06-24 03:16] jeffwubj commented on #309
/kind documentation

[2019-06-24 03:16] pkuzhangkai commented on #312
/meowvie clothes

[2019-06-24 03:16] yanhan commented on #311
/sig kubespray

[2019-06-24 03:16] ashahab commented on #299
/shrug

[2019-06-24 03:17] pluradj commented on #307
/joke

[2019-06-24 03:17] luyun-aa commented on #301
/joke

[2019-06-24 03:17] violet2016 commented on #306
/sig testing

[2019-06-24 03:17] kevinGC commented on #305
/shrug

[2019-06-24 03:17] pluradj commented on #307
/check-cla

[2019-06-24 03:17] miamipanther commented on #312
/priority imporant-soon

[2019-06-24 03:18] kevinGC commented on #305
/joke

[2019-06-24 03:18] jeffwubj commented on #309
/kind wronglabel

[2019-06-24 03:18] TaylorHere commented on #305
https://prow.k8s.io/command-help

[2019-06-24 03:18] violet2016 commented on #306
/pony Applejack

[2019-06-24 03:18] lichen2013 commented on #300
/meow

[2019-06-24 03:18] yanhan commented on #311
/sig apimachinery

[2019-06-24 03:18] dichen16 commented on #305
/close

[2019-06-24 03:18] Gnnng commented on #299
/close

[2019-06-24 03:18] binoue commented on #305
/kind bug

[2019-06-24 03:18] zmldh commented on #300
cool cat

[2019-06-24 03:18] #299 closed

[2019-06-24 03:18] pluradj commented on #307
/woof

[2019-06-24 03:19] Nessex commented on #311
/joke

[2019-06-24 03:19] qwu16 commented on #300
/woof

[2019-06-24 03:19] allenmo0117 commented on #300
/label documentation

[2019-06-24 03:19] jeffwubj commented on #309
/priority important:soon

[2019-06-24 03:19] OnionPiece commented on #310
/lint

[2019-06-24 03:19] yanhan commented on #311
/lgtm

[2019-06-24 03:19] ken-liupk commented on #311
/shrug

[2019-06-24 03:19] TaylorHere commented on #305
/meow caturday

[2019-06-24 03:19] violet2016 commented on #306
/pony Twilight Sparkle

[2019-06-24 03:19] pkuzhangkai commented on #312
/assign haiker2011

[2019-06-24 03:19] binoue commented on #305
/remove-kind bug

[2019-06-24 03:19] pluradj commented on #307
/meow

[2019-06-24 03:19] dotDuck opened #313 "test issue on kubecon"
just a test

[2019-06-24 03:20] 327101303 commented on #308
/kind documentation

[2019-06-24 03:20] axsaucedo commented on #311
/pony

[2019-06-24 03:20] kevinGC commented on #305
/unshrug

[2019-06-24 03:20] jeffwubj commented on #309
/priority important:soon

[2019-06-24 03:20] pluradj commented on #307
/pony

[2019-06-24 03:20] DTherHtun commented on #312
/priority important-soon

[2019-06-24 03:21] ken-liupk commented on #311
/pony Twilight Sparkle

[2019-06-24 03:21] yanhan commented on #303
/status in-review

[2019-06-24 03:21] pluradj commented on #307
/shrug

[2019-06-24 03:21] dotDuck commented on #313
/priority important-soon

[2019-06-24 03:21] ken-liupk commented on #311
/joke

[2019-06-24 03:21] yanhan commented on #303
/pony

[2019-06-24 03:21] kevinGC commented on #305
/retitle Hey can I use the retitle command?

[2019-06-24 03:22] allenmo0117 commented on #300
/bark

[2019-06-24 03:22] jeffwubj commented on #309
/priority important-soon

[2019-06-24 03:22] th3lolipop commented on #312
/priority important soon

[2019-06-24 03:22] shimron commented on #309
/cat

[2019-06-24 03:22] ken-liupk commented on #311
/bark

[2019-06-24 03:22] violet2016 commented on #306
/help

[2019-06-24 03:22] TaylorHere commented on #305
/shrug

[2019-06-24 03:23] dichen16 commented on #305
/kind bug

[2019-06-24 03:23] OnionPiece commented on #310
/lint
/hold

[2019-06-24 03:23] violet2016 commented on #306
/remove-help

[2019-06-24 03:23] ken-liupk commented on #311
/close

[2019-06-24 03:23] th3lolipop commented on #312
/priority important-soon

[2019-06-24 03:23] binoue commented on #305
/lifecycle rotten

[2019-06-24 03:23] TaylorHere commented on #305
/unshrug

[2019-06-24 03:23] shimron commented on #302
/shrug

[2019-06-24 03:23] OnionPiece commented on #310
/shrug

[2019-06-24 03:23] kevinGC commented on #305
/stage stable

[2019-06-24 03:24] DTherHtun commented on #312
/assign @th3lolipop

[2019-06-24 03:24] pluradj commented on #307
/approve

[2019-06-24 03:24] ken-liupk commented on #311
/project 0.5.0

[2019-06-24 03:24] maragatham opened #314 "Contributor Playground Sample Issue"
Comment for this issue. Adding some place holder.
# Heading
Heading placeholder

## Sub heading
Additional information about heading

It should be done 5 time instead of 3.

[code]

/priority
/wise

[2019-06-24 03:24] th3lolipop commented on #312
/assign @DTherHtun

[2019-06-24 03:24] violet2016 commented on #306
/lifecycle frozen

[2019-06-24 03:24] shimron commented on #302
/joke

[2019-06-24 03:24] DTherHtun commented on #312
/approve

[2019-06-24 03:25] TaylorHere commented on #305
/buildify

[2019-06-24 03:25] luyun-aa commented on #301
/priority important-soon

[2019-06-24 03:25] 327101303 commented on #314
/priority important-soon

[2019-06-24 03:25] carlisia commented on #313
Almost there! Missing 1 label.

[2019-06-24 03:25] pluradj commented on #307
/lgtm

[2019-06-24 03:25] TaylorHere commented on #305
/auto-cc

[2019-06-24 03:25] DTherHtun commented on #312
/joke

[2019-06-24 03:26] jeffwubj commented on #309
/cat

[2019-06-24 03:26] kevinGC commented on #305
/label does-this-support-유니코드

[2019-06-24 03:26] th3lolipop commented on #312
/joke xD

[2019-06-24 03:26] violet2016 commented on #306
/test all

[2019-06-24 03:26] TaylorHere commented on #305
/cc @k8s-ci-robot

[2019-06-24 03:27] th3lolipop commented on #312
/joke @DTherHtun

[2019-06-24 03:27] dotDuck commented on #313
/kind documentation

[2019-06-24 03:28] miamipanther commented on #314
/sig scalability

[2019-06-24 03:28] axsaucedo commented on #311
/priority important-soon

[2019-06-24 03:30] TaylorHere commented on #305
Do you guys interesting in Machine Learning?

[2019-06-24 03:32] miamipanther commented on #314
/kind bug

[2019-06-24 03:35] shimron commented on #309
/joke

[2019-06-24 03:47] ghostwriternr commented on #303
/close

[2019-06-24 03:48] #303 closed

[2019-07-09 09:09] 327101303 commented on #314
/kind bug

[2019-07-11 18:21] #223 closed

[2019-07-11 18:21] #132 closed

[2019-07-11 18:22] #222 closed

[2019-07-24 04:13] #300 closed

[2019-07-24 04:13] #305 closed

[2019-07-27 20:41] m13m commented on #47
/woof

[2019-08-13 20:30] Katharine opened #380 "yet another test issue"

[2019-08-13 20:31] #380 closed

[2019-10-04 13:11] #307 closed

[2019-10-22 05:08] #302 closed

[2019-11-18 22:47] alisondy commented on #314
/assign @guineveresaenger

[2019-11-18 22:47] dkypuros commented on #314
/assign @alisondy

[2019-11-21 05:17] #298 closed

[2019-11-21 05:17] #304 closed

[2019-11-21 05:18] #308 closed

[2019-11-21 05:18] #301 closed

[2019-11-21 05:18] #310 closed

[2019-11-21 05:18] #312 closed

[2019-11-21 05:18] #313 closed

[2019-11-21 05:18] #311 closed

[2019-11-21 06:19] #309 closed

[2019-12-18 23:07] #314 closed

[2019-12-27 19:28] ahahn15 commented on #306
/assign @ahahn15

[2020-04-26 07:16] cCloudSky commented on #306
/shrug

[2020-04-26 07:17] cCloudSky commented on #306
/unshrug

[2020-08-02 09:12] dlbas opened #526 "I think we lack some files here"
I think we need to create some new file, I will come up with the name later...

[2020-08-26 23:10] guineveresaenger opened #531 "Demo issue"
Hello this is a research demo

[2020-08-26 23:10] guineveresaenger commented on #531
/meow

[2020-08-26 23:58] guineveresaenger commented on #531
/close

[2020-08-26 23:58] #531 closed

[2020-09-07 07:28] sakaia opened #550 "Add sakaia.md"

[2020-09-07 08:13] sakaia commented on #550
/sig testing

[2020-09-07 09:53] #550 closed

[2020-12-30 11:28] #526 closed

[2021-02-09 08:40] wzjgo commented on #306
/help

[2021-03-01 02:21] atoato88 opened #635 "Check and update contents of prerequisites on Japan event"
Japan member will hold [kubernetes training on 10, March](https://github.com/kubernetes-sigs/contributor-playground/tree/master/japan/cndo-2021).

For that event, we need to check and update (if any) contents of [prerequisites](https://github.com/kubernetes-sigs/contributor-playground/blob/master/japan/assets/attendee-prerequisites.md) and other assets.

@s-ito-ts
We ensure that doesn't include ol

[2021-03-01 02:23] atoato88 commented on #635
/sig contributor-experience

[2021-03-01 02:53] shu-mutou commented on #635
/cc @s-kawamura-w664

[2021-03-01 06:51] s-ito-ts commented on #635
@atoato88
I checked that there are no problems. (Don't need to update or add.)

[2021-03-01 08:32] atoato88 commented on #635
@s-ito-ts
Thank you to quick checking contents.
I've created PR #636 which updates prerequisite file because of adding more ease reading for attendee.

Could you review that?

[2021-03-02 04:22] shu-mutou commented on #635
/close

[2021-03-02 04:22] #635 closed

[2021-07-18 13:30] RinkiyaKeDad opened #814 "adding a gitignore file"
Sometimes folks unknowingly commit some temp files along with their changes, for example `.DS_Store` in the case of macOS users. It will be easier for new contributors if we have a `.gitignore` file which excludes all such files.

See #775

[2021-07-18 13:31] RinkiyaKeDad commented on #814
/sig contributor-experience

[2021-07-19 10:24] RinkiyaKeDad commented on #814
/good-first-issue

[2021-07-19 10:27] RinkiyaKeDad commented on #814
You can read more about `.gitignore` files here - https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

You can see an example of a `.gitignore` file here - https://github.com/kubernetes/enhancements/blob/master/.gitignore

[2021-07-19 10:33] Edge2Ops commented on #814
/assign

[2021-07-22 13:40] mrbobbytables commented on #306
/close

[2021-07-22 13:41] #306 closed

[2021-07-26 10:21] Lakshya8066 commented on #814
Hey @RinkiyaKeDad
Can I take the issue if no one is working on it?

[2021-07-26 10:24] Lakshya8066 commented on #814
/assign

[2021-07-26 10:25] Edge2Ops commented on #814
Hey @Lakshya8066
Just give me a day, will update on this here :)

[2021-07-26 10:31] RinkiyaKeDad commented on #814
Hey @Lakshya8066, since @Edge2Ops are still working on this could you please unassign yourself? You can find more `good-first-issues` [here](https://www.google.com/url?q=https://go.k8s.io/good-first-issue&sa=D&source=editors&ust=1627298948995000&usg=AOvVaw3E4xJLNiC7_E0-m8-Eg-aQ) 🙂

[2021-07-26 10:54] Lakshya8066 commented on #814
/unassign

[2021-07-26 10:57] Lakshya8066 commented on #814
Hey @Edge2Ops @RinkiyaKeDad, sorry for the inconvenience.

[2021-07-26 10:59] Edge2Ops commented on #814
No worries @Lakshya8066  :)

[2021-08-19 18:16] eddiezane opened #858 "eddiezane test issue"

[2021-08-19 18:17] eddiezane commented on #858
/sig
/sig cli

[2021-08-19 18:17] eddiezane commented on #858
/remove-label sig/cli

[2021-08-19 18:17] eddiezane commented on #858
/label
/label api-review

[2021-08-19 18:18] eddiezane commented on #858
/remove-sig cli

[2021-08-19 18:18] eddiezane commented on #858
/label api-review

[2021-08-19 18:18] eddiezane commented on #858
/remove-label api-review

[2021-08-19 18:19] eddiezane commented on #858
/label
/label api-review

[2021-08-19 18:24] eddiezane commented on #858
/sig dog

[2021-08-19 19:28] #858 closed

[2021-09-02 06:56] lakshya8066 commented on #814
Hey, can I assign myself if no one is working on it?

[2021-09-02 06:58] Edge2Ops commented on #814
Ah' my bad. Just saw it. Will update it right away, thanks !

[2021-09-02 07:57] lakshya8066 commented on #814
No problem @Edge2Ops. Go ahead :)

[2021-09-29 16:58] MadhavJivrajani commented on #814
Hey sorry - removing and re-applying these labels to test out a PR that was just merged for the bot

/remove-good-first-issue
/remove-help

[2021-09-29 16:58] MadhavJivrajani commented on #814
/good-first-issue

[2021-09-29 17:11] RinkiyaKeDad commented on #814
Hey @Edge2Ops are you still interested in working on this? 🙂

[2021-09-30 06:04] Edge2Ops commented on #814
Hey @RinkiyaKeDad  Yes, I need to rebase my PR.
Will update and let you know asap

[2022-02-27 08:02] #814 closed